
.Final{
    text-align: center;
    color: #ffff;
    background-color: #4c565e;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 5px;
    margin-bottom: -40px;
    margin-left: -10px;
    margin-right: -10px;
}