<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--NO ES NECESARIO ENLASARLO Al ARCHIVO CSS-->
    <title>Datos curiosos</title>
    <link rel="icon" href="assets/IconoTortuga.png">
    <style>
        body {
            background-color: #f5ce7f;
        }
    </style>
</head>
<body>
    <h1>DATOS CURIOSOS DEL MAR TE AMO MUCHO MI NIÑO PRECIOSO</h1>
    <app-menu></app-menu>
    <p>BLA BLA BLA CONTENIDO... ERES UNA PERSONA PRECIOSA AMOR. 
        RECUERDA QUE LAS IMAGENES VAN CON ESTE FORMATO: (YA FUNCIONA) 
    <!-- <img id="IdParaEditarla" src="assets/imagen.loquesea" alt="blabla"> -->    
    </p>


    <app-footer></app-footer>

</body>
</html>
<!--Si quieres ver como esta quedando tienes que hacerlo por medio de ng serve por la terminal y ng serve -->